* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'gilroy';
}

span {
    display: block;
}


.bcg {
    width: 100%;
    background-image: url(freepik-export-20240808054148z05i.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navtext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 24px;
}

.navtext a {
    text-decoration: none;
}

.navtext h1, a{
    color: azure;
}

.navbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 14px;
}

.navbutton a {
    text-decoration: none;
    color: white;
    background-color: rgba(71, 59, 240, 1);
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
}
.hamburger{
    display: none;
}
.hamburger img{
    width: 35px;
}
@media(max-width:820px){
    .hamburger{
        display: block;
        padding: 4px 4px 0px 0px;
    }
    .navbutton{
        display: none;
    }

}

@media(max-width:595px){
        .navbar .navtext a{
            display: none;
        }
        .bcg .world .content h1, p, a{
            font-size: large;
        }
        .wordscontent p{
            font-size: small;
        }
        .wordscontent h1{
            font-size: medium;
        }
        .positioncontent .positionimg img{
            width: 150px;
        }
        .positioncontent .same .container a, h1, p{
            font-size: small;
        }
        .shirt{
            flex-wrap: wrap;
        }
        
}



@media(max-width:511px){
    .bcg .world .content h1, p, a{
        font-size: small;
    }
    .smallbox{
        width: 250px;
    }
}
@media(max-width:470px){
    .smallbox p, a{
        font-size: 10px;
    }
}
@media(max-width:500px){
    .safari .laptop p{
        font-size: 10px;
        font-weight: bold;
    }
    .rain .clouds p{
        font-size: 10px;
        font-weight: bold;
    }
    .rain .sounds{
     padding-right: 14px;   
    }
}

@media(max-width:403px){
    .safari .laptop p{
        font-size: 8px;
        font-weight: bold;
    }
    
}


@media(max-width:398px){
    .bcg .world .content h1, p, a{
        font-size: 11px;
    }
}
@media(max-width:426px){
    .positionword h1, p{
        font-size: small;
    }
}
@media(max-width:376px){
    .positionword h1, p{
        font-size: 10px;
    }
    .smallbox :nth-child(1){
        padding: 1px 1px;
    }
        .summer .season{
            flex-wrap: wrap;
        }
       
}

@media(max-width:712px){
        .shirt .snow h1{
            font-size: large;
        }
        .togo{
            padding: 0px 0px;
        }
        .shirt .togo form input{
            padding: 10px 16px;
        }
        .shirt .togo form{
            padding: 10px 10px;
            gap: 6px;
        }
}



.world {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.world .content h1,
p {
    padding: 8px 0px;
    color: azure;
}

.content p{
    color: #fff;
}

.world .content a {
    text-decoration: none;
    color: white;
    background-color: rgba(71, 59, 240, 1);
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
}

.line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 18px 0px;
}

.line .customer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.wordscontent {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wordscontent h1, p{
    color: black;
    text-align: center;
}

.wordsimg {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.wordsimg .card{
    transition: all 0.55s;
    border-radius: 10px;
}

.wordsimg .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.wordsimg .card p {
    padding-left: 10px;
}

.card img {
    width: 200px;
    height: 200px;
}

.positioncontent .positionimg img{
    width: 250px;
    border-radius: 10px;
    transition: all 0.55s;
    /* height: 200px; */
}

.positioncontent .positionimg img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.positionword{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
    flex-direction: column;
}

.positioncontent{
    width: 100%;
    /* height: 70vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.same{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 38px;
    padding: 10px 0px;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.same a{
    font-weight: bolder;
    font-size: x-large;
    /* border: 2px solid black; */
    padding: 8px 16px;
    border-radius: 50%;
    background-color: rgb(209, 221, 241);
    color: rgb(55, 37, 213);
    
}

.smallbox{
    width: 100%;
    height: 15vh;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallbox a{
    color: #fff;
}


.smallbox :nth-child(1){
    color: blue;
    /* border: 2px solid black; */
    padding: 6px 12px;
    font-weight: bolder;
    font-size: large;
    background-color: #fff;
    border-radius: 18px;
    font-weight: bolder;
}

.smallbox :nth-child(2){
    padding-left: 6px;
    color: #fff;
}

.persons{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 28px 0px;
}

.persons .male img{
    width: 80px;
    border-radius: 50%;
    transition: all 0.55s;
    
}

.persons .male img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* .aroma h6{
    color: black;
} */


.persons .human .aroma{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
    /* padding: 14px 0px; */
}
.human{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.human div{
    padding: 14px 0px;
}

.human .logo{
        width: 100px;
}

.shirt{
    width: 100%;
    /* height: 100vh; */
    background-image: url(bcg2.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgb(35, 33, 33);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.shirt div img{
    width: 100px;
}

.togo{
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 8px;
}

.togo form{
    padding: 18px 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    flex-direction: column;
}

.togo form input{
    border: 1px solid rgb(153, 153, 153);
    padding: 10px 30px;
    border-radius: 8px;
    outline: none;
    opacity: 0.4;
}

.togo form button{
    padding: 12px 46px;
    background-color: rgba(71, 59, 240, 1);
    color: #fff;
    border-radius: 8px;
}

.snow{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid white; */
    flex-direction: column;
}

.snow .husky{
        padding: 16px 0px;
        /* border: 2px solid red; */
        
}

.husky img{
    padding-left: 0px;
}
.snow .husky h1{
    color: #fff;
    line-height: 44px;
    padding: 8px 0px;
}

.snow .husky :nth-child(2){
    opacity: 65%;
    line-height: 23px;
    font-weight: lighter;
    color: #fff; 
}

.summer{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.season{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.summer .season button{
    padding: 12px 34px;
    background-color: rgba(71, 59, 240, 1);
    color: #fff;
    border-radius: 8px;
    transition: all 0.55s;
}

.summer .season button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}



.summer .season input{
    border: 1px solid rgb(153, 153, 153);
    padding: 10px 12px;
    border-radius: 8px;
    outline: none;
    opacity: 0.4;
}

.safari{
    width: 100%;
    /* height: 75vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0px;
}

/* .safari .forest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .safari{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
} */


.safari .laptop{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}

.safari .laptop .bro :nth-child(2), .bro :nth-child(3){
        color: blue;
}

.rain{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rain .sounds{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
}
@media(max-width:728px){
    .rain .sounds{
        flex-direction: column;
        align-items: flex-end;
    }
}






.rain .sounds img{
    width: 24px;
    border-radius: 50%;
    transition: all 0.55s;
}

.rain .sounds img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

    















